[settings]=
clean_path=
age=30
mode=development
[mail]=

[telegram]=
token=
conversation_id=
[monitor]=
#to alert if used more than in percentage
cpu_threshold=70
memory_threshold=70
disk_threshold=70
[postgres]=
db_master=
db_master_db=
db_master_port=
db_master_user=
db_master_password=
db_slaves=
slow_query_duration=1000
slow_query_rows=10000

[elastic]=
enable=
api_key=
host=
index=
index_replica=
index_login=

[connection]=
white_list=
log_path=
[refresh_mv]=
path=

[push_log]=
api_enable=true
api_host=
api_key=

[server]=
server_name=Test
server_ip=127.0.0.1